.logotypeBlock {
	height: 56px;
	width: fit-content;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logotypeBlock>img {
	width: 50px;
	height: 50px;
}

.logotypeBlock>p {
	font-size: 36px;
	font-weight: 500;
	margin: 0;
	margin-left: 9px;
}

.logotypeBlock .white{
	color: var(--white-bg-color);
}