* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html,
body {
	height: 100%;
}

img {
	max-width: 100%;
	display: block;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	cursor: pointer;
}

a {
	text-decoration: none;

	&:visited {
		color: inherit;
	}
}

li {
	list-style-type: none;
}
