<div class="confirm {{#if isWarning}}{{else}}success{{/if}}">
	<div class="confirm__confirmMessage">
		<h1 class="confirm__title">{{headTitle}}</h1>
		<p class="confirm__text">{{title}}</p>
	</div>
	<div class="confirm__buttons">
		<button class="confirm__button confirm__buttons_positive">ОК</button>
		<button class="confirm__button confirm__buttons_negative">ОТМЕНА</button>
	</div>
</div>
