<div class="statTable">
    <div class="statTable__line">
        <p class="line__key">Количество оценок:</p>
        <p class="line__value">{{n}}</p>
    </div>
    <div class="statTable__line">
        <p class="line__key">Минимальная оценка:</p>
        <p class="line__value">{{min}}</p>
    </div>
    <div class="statTable__line">
        <p class="line__key">Максимальная оценка:</p>
        <p class="line__value">{{max}}</p>
    </div>
    <div class="statTable__line">
        <p class="line__key">Средняя оценка:</p>
        <p class="line__value">{{avg}}</p>
    </div>
</div>