<div class="comp-form 
	{{#if isResolved}}comp-form--resolved{{/if}} 
	{{#if isRejected}}comp-form--rejected{{/if}}">
	<header class="comp-form__header">
		<div class="header__left">
			<div class="header__left-1">от кого:</div>
			<div class="header__left-2">{{from}}</div>
		</div>
		<div class="header__right">
			<div class="header__right-1">кому:</div>
			<div class="header__right-2">{{to}}</div>
		</div>
	</header>
	<div class="comp-form__central">
		<div class="central__title">
			<p class="central__inner">
				{{title}}
			</p>
		</div>
		<div class="central__buttons">
			<div class="buttons__accept"><img class="accept__img" src="media/btn/accept.svg" />
			</div>
			<div class="buttons__deny"><img class="deny__img" src="media/btn/deny.svg" /></div>
		</div>
	</div>
	<footer class="comp-form__footer">
		<div class="footer__inner">{{date}}</div>
	</footer>
</div>
