@use '@styles/mixins';

.logotypeBlock {
	height: 56px;
	width: fit-content;
	margin-right: auto;
	@include mixins.flex-center;
	user-select: none;

	&__img {
		width: 50px;
		height: 50px;
	}

	&__text {
		font-size: 36px;
		font-weight: 500;
		margin: 0;
		margin-left: 9px;

		&.white {
			color: var(--white-bg-color);
		}
	}
}

@media (max-width: 650px) {
	.logotypeBlock__text {
		display: none;
	}
}
