<div class="groundFeedback">
	<form action="">
		<button type="button" class="HideBtn">⨯</button>
		<p>{{groundText}}</p>
		<textarea name="" id=""></textarea>
		<button type="button" class="sendFeedback">Отправить</button>
	</form>
</div>