.interes{
    padding: 5px 9px;
    border: 1px solid grey;
    border-radius: 25px;
    width: fit-content;
    height: 24px;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: grey;

    &__text{
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: grey;
    }

    &:hover{
        border: 1px solid var(--main);
        color: var(--main);
    }

    &-checked{
        border: 1px solid var(--main);
        color: var(--main);
    }
}