.profileInfo {
	&__loading {
		font-size: 1.2rem;
		color: #666;

		&:after {
			content: '...';
			animation: dots 1.5s steps(5, end) infinite;
		}
	}
}

@keyframes dots {

	0%,
	20% {
		content: '.';
	}

	40% {
		content: '..';
	}

	60%,
	100% {
		content: '...';
	}
}
