.profileInfo {
	color: var(--gray-line);
	font-weight: 500;

	&__inner {
		display: flex;
		flex-direction: column;
		gap: 13px;
	}

	&__aboutMe {
		padding-top: 13px;
		border-top: 1px solid var(--vertical-line);
	}

	&__interests {
		padding-top: 13px;
		border-top: 1px solid var(--vertical-line); //#fe3675
	}

	&__personData {
		padding-top: 13px;
		border-top: 1px solid var(--vertical-line);
	}

	&__pictures {
		padding-top: 13px;
		border-top: 1px solid var(--vertical-line);
	}

	&__loading {
		color: #666;

		&:after {
			content: '...';
			animation: dots 1.5s steps(5, end) infinite;
		}
	}
}

.firstInfo {
	font-size: 26px;
	font-weight: 700;
	color: var(--font-color);

	&__age {
		font-weight: 500;
		font-size: 24px;
	}
}

.aboutMe {
	display: flex;
	flex-direction: column;
	gap: 13px;

	&__title {
		font-weight: 700;
		color: var(--font-color);
	}
}

.interests {
	display: flex;
	flex-direction: column;
	gap: 13px;

	&__title {
		font-weight: 700;
		color: var(--font-color);
	}

	&__container {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__item {
		font-size: 14px;
		font-weight: 500;
		padding: 5px 9px;
		border-radius: 25px;
		border: 2px solid var(--gray-line);
		transition: 0.5s;

		&:hover {
			border: 2px solid #fe3675;
			color: #fe3675;
			cursor: pointer;
			transform: scale(1.04);
		}
	}
}

.personData {
	display: flex;
	flex-direction: column;
	gap: 13px;

	&__title {
		font-weight: 700;
		color: var(--font-color);
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__item {
		display: flex;
		justify-content: space-between;
	}

	&__field {
		font-weight: 700;
		font-style: italic;
		color: var(--font-color);
	}

}

.pictures {
	display: flex;
	flex-direction: column;
	gap: 13px;

	&__title {
		font-weight: 700;
		color: var(--font-color);
	}
}

@keyframes dots {

	0%,
	40% {
		content: '...';
	}

	60% {
		content: '..';
	}

	80%,
	100% {
		content: '.';
	}
}


.photosGrid__item.new-photo {
	box-shadow: 0 0 10px rgba(0, 255, 0, 0.5);
	position: relative;
}

.photosGrid__item.new-photo::after {
	content: "Новое";
	position: absolute;
	top: 5px;
	left: 5px;
	background: rgba(0, 0, 0, 0.7);
	color: white;
	padding: 2px 5px;
	border-radius: 3px;
	font-size: 12px;
}
