<div class="searchInput" style="width: 100%;">
	<div class="searchInput__buttonContainer">
		<button class="searchInput__button" type="button">
			<img src="/media/search/search.svg" alt="Search" />
		</button>
	</div>
	<div class="searchInput__inputContainer">
		<input class="searchInput__input" type="text" placeholder="Поиск" />
		<button class="searchInput__clearButton" type="button">
			<img src="/media/search/clear.svg" alt="Clear" />
		</button>
	</div>
</div>
