<div class="chatMobileToggle">
	<input type="checkbox" id="chatMobileToggle__input" class="chatMobileToggle__input" />
	<label for="chatMobileToggle__input">
		<img
			src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAKJJREFUSEvtlNENgDAIBV831UnUSXQ03UQxbUKaAjXQP/l9zZ2lYMLgSoP5+AVmh7+0aAdwAtgaVDHrFRBgyuC1kmhZ1yNzADkOAHOWadl7xLqBC24J3HBNEAKXBGFwSbA8AU1KKT41WtbcCemRwyTaFIVIrDF1SywB9dUl6RHUEtpi2uZS/APqzNxkPhkEuio4lzSz3huYv2XpwC8wWze8RTfNtzgZio62xgAAAABJRU5ErkJggg==" />
	</label>
</div>
