.complaintHeader {
	width: 100%;
	display: flex;
	gap: 10px;
	flex-direction: column;
	font-family: inherit;

	&__title {
		font-weight: 500;
		font-size: 24px;
		line-height: 32px;
	}

	&__input {
		appearance: none;
		background: none;
		outline: none;
		box-shadow: none;
		border: none;

		width: 100%;
		padding: 3px 0 3px 2px;
		border-bottom: 2px solid #000000;

		font-family: inherit;
		font-size: 20px;
		line-height: 28px;

		&::placeholder {
			color: #898A8D70;
			opacity: 1;
		}
	}
}
