<div class="statCard">
	<div class="statCard__left">
		<div class="left__login">{{login}}:</div>
		{{{stars}}}
	</div>
	<div class="statCard__right">
		<p class="right__title">Отзыв:</p>
		<p class="right__text">{{review}}</p>
	</div>
</div>
