<div class="chatInput" data-chat-id="{{profileId}}">
	<div class="chatInput__input">
		<textarea placeholder="Сообщение" rows="1"></textarea>
	</div>
	<div class="chatInput__send">
		<button class="chatInput__button">
			<img src="/media/sendMessage.svg" alt="Отправить сообщение" />
		</button>
	</div>
</div>
