@use '@styles/mixins';

.personCard {
	width: 400px;
	height: 600px;
	@include mixins.center-horizontal;
	border-radius: 14px;
	padding: 0 8px 20px 8px;
	box-shadow: 0 6px 16px rgba(0, 0, 0, 0.25);

	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	// overflow: hidden;

	display: flex;
	flex-direction: column-reverse;

	&__info {
		padding: 12px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: 4px;
		background: rgba(0, 0, 0, 0.6);
		backdrop-filter: blur(5px);
		font-size: 22px;
		color: var(--white-bg-color);
	}

	&__description {
		font-size: 14px;
		color: #f0f0f0;
	}

	&__btns {
		margin-top: 20px;
		order: -1;

		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__iconButton {
		height: 100%; // Для tooltip
		cursor: pointer;
		transition: transform 0.3s ease, opacity 0.3s ease;

		&:hover {
			transform: scale(1.1);
		}

		&:active {
			transform: scale(0.95);
			opacity: 0.85;
		}
	}

	&__imgButton {
		user-select: none;
		pointer-events: none;
	}
}
