@use '@styles/mixins';

.inputContainer {
	position: relative;
	display: inline-block;
	width: 100%;

	$block: &;

	&__input {
		width: 100%;
		border: none;
		border-bottom: 2px solid var(--gray-line);
		outline: none;
		font-size: 16px;
		padding: 5px 0;
		background-color: transparent;
		padding-right: 30px;

		&:focus+#{$block}__label,
		&:not(:placeholder-shown)+#{$block}__label {
			top: -20px;
			font-size: 12px;
			color: var(--gray-line);
		}
	}

	&__label {
		@include mixins.user-select-item-font(16px);

		position: absolute;
		left: 0;
		top: 5px;
		color: var(--placeholder);
		transition: 0.3s ease;
		pointer-events: none;
	}

	&__toggle {
		position: absolute;
		right: 5px;
		top: 0;
		background: none;
		border: none;
		cursor: pointer;
		padding: 0;
		width: 16px;
		height: 30px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__eye-icon {
		transform: scale(1.35);
		transition: all 0.3s ease;
	}

	&__toggle:hover &__eye-icon {
		transform: scale(1.5);
	}

	&.incorrect {
		&>#{$block}__input {
			border-bottom: 2px solid var(--danger);
		}

		&>#{$block}__label {
			color: var(--danger-placeholder);
		}

		& #{$block}__input:focus+#{$block}__label,
		& #{$block}__input:not(:placeholder-shown)+#{$block}__label {
			color: var(--danger-placeholder);
		}
	}
}

// .feedback {
// 	opacity: 0;
// 	user-select: none;
// 	width: 100%;
// 	margin-top: .25rem;
// 	font-size: .875em;
// 	color: var(--bs-danger-text-emphasis);

// 	&.noneHide {
// 		opacity: 1;
// 	}
// }
