.notification{
    width: 345px;
    height: 60px;
    border-radius: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 100;
    animation: fade-in-out 5s ease-in-out forwards;
}
.notification .error-message{
    margin-left: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
}
.notification h1{
    font-size: 14px;
    font-weight: 500;
    background: linear-gradient(180deg, #FF7854 0%, #FE3675 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.notification p{
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    background: linear-gradient(180deg, #FF7854 0%, #FE3675 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.notification .cross{
    height: 10px;
    width: 10px;
    position: absolute;
    top: 15px;
    right: 10px;
    cursor: pointer;
}
.notification.show{
    top: 50px;
}

.notification.success{
    background: var(--main-theme);
}
.notification.success h1,
.notification.success p{
    color: #fff;
    background: none;
    -webkit-text-fill-color: inherit;
}

@keyframes fade-in-out {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    10% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }