<div class="starsFeedback">
	<form action="">
		<button type="button" class="HideBtn">⨯</button>
		<p>{{startText}}</p>
		<div class="rating">
			<input type="radio" id="star5" name="rating" value="5" />
			<label for="star5" title="Отлично">★</label>
			<input type="radio" id="star4" name="rating" value="4" />
			<label for="star4" title="Хорошо">★</label>
			<input type="radio" id="star3" name="rating" value="3" />
			<label for="star3" title="Удовлетворительно">★</label>
			<input type="radio" id="star2" name="rating" value="2" />
			<label for="star2" title="Плохо">★</label>
			<input type="radio" id="star1" name="rating" value="1" />
			<label for="star1" title="Ужасно">★</label>
		</div>
		<button type="button" class="nextFeedback">Далее</button>
	</form>
</div>
