.header{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner-header{
    height: 100%;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header.greeting{
    height: 130px;
}
.inner-header.greeting{
    width: 95%;
}