@use '@styles/mixins';

.header {
	width: 100%;
	height: 90px;
	@include mixins.flex-center;
	margin-bottom: 20px;

	&.greeting {
		height: 90px;
	}

	&__inner {
		height: 100%;
		width: 70%;
		display: flex;
		align-items: center;

		&.greeting {
			width: 95%;
		}
	}

}
