<div class="searchItem">
	<div class="searchItem__img-container">
		<img class="searchItem__img" src="{{imgSrc}}" alt="Фотография человека" />
		<div class="searchItem__overlay"></div>
	</div>
	<div class="searchItem__info">
		<div class="searchItem__data">
			<span class="searchItem__name">{{name}}</span>,<span class="searchItem__age">{{age}}</span>
		</div>
	</div>
</div>
