<div class="navMenu">
	<nav class="navMenu__inner">
		<div class="navMenu__links">
			{{#each links}}
			<div id="{{this.id}}" class="navMenu__link{{#if this.isDev}} navMenu__link--dev{{/if}}">
				<img src="{{this.srcIcon}}" alt="Иконка {{this.title}}">
				<span class="">{{this.title}}</span>
			</div>
			{{/each}}
		</div>
	</nav>
</div>
