.country-dropdown {
    position: relative;
    width: 200px;
    font-family: Arial, sans-serif;

    &__selected {
        padding: 8px;
        border: none;
        background: transparent;
        text-align: center;
        cursor: pointer;
        position: relative;
        outline: none;
        font-weight: 400;
        font-size: 18px;
        color: grey;

        &:focus {
            .underline {
                background-color: #010710;
            }
        }
    }

    .underline {
        width: 90px;
        height: 3px;
        background-color: var(--gray-line);
        margin: 4px auto 0;
        transition: background-color 0.3s;
    }

    &__list {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        margin-top: 10px;
        background: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        max-height: 200px;
        overflow-y: auto;
        z-index: 100;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    }

    &__option {
        padding: 12px;
        text-align: center;
        cursor: pointer;
        font-size: 16px;
        color: #666;
        transition: all 0.2s;

        &:hover,
        &:focus {
            background: #f5f5f5;
            color: #010710;
        }
    }
}

.onFocusInputUndeline{
    background-color: #010710;
}


.onFocusInputText{
    color: var(--accent-font-color);
}