<div class="profile">
	<p class="profile__name">{{profile_name}}</pм>
	<div class="profile__photoBlock">
		<img class="profile__photo" src="{{ path }}" alt="Фотография профиля">
		{{!-- <div class="profile__progressRing"></div> --}}
	</div>
</div>
