@use '@styles/mixins';

.profile {
	width: fit-content;
	height: 70px;
	@include mixins.flex-center;
	position: relative;

	&__name {
		padding-left: 30px;
		font-weight: 700;
		font-size: 24px;
		color: var(--accent-font-color);
		text-align: right;
		margin-right: 16px;
		cursor: pointer;

		&:hover {
			background: linear-gradient(180deg, #FF7854 0%, #FE3675 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__photo {
		width: 48px;
		height: 48px;
		border-radius: 50%;
		object-fit: cover;
		cursor: pointer;
	}

	&__photoBlock {
		position: relative;
	}

	// &__progressRing {
	// 	position: absolute;
	// 	top: -6px;
	// 	left: -6px;
	// 	width: 76px;
	// 	height: 76px;
	// 	border-radius: 50%;
	// 	background: conic-gradient(#FF7854 0%, #FE3675 33%, rgba(0, 0, 0, 0.1) 33%);
	// 	mask: radial-gradient(circle, transparent 65%, black 65%);
	// 	z-index: -1;
	// }
}
