<div class="chatHeader">
	<div class="chatHeader__avatar">
		<img src="{{avatarSrc}}" alt="{{name}} аватарка" />
	</div>
	<div class="chatHeader__info">
		<p class="chatHeader__name">{{name}}</p>
		<p class="chatHeader__additionally">{{additionally}}</p>
	</div>
</div>
