<div class="interesInner">
	<p class="interesInner__text">{{text}}</p>
	<div class="interesInput__btns">
		<button class="btns__saveBtn" title="Сохранить">
			<img src="./media/btn/actionBtnCheck.svg" alt="добавить">
		</button>
		<button class="btns__cancelBtn" title="Отменить">
			<img src="./media/btn/actionBtnCross.svg" alt="убрать">
		</button>
	</div>
</div>
