@use './styles/globals';
@use './components/components';

#root {
	background-color: var(--white-bg-color);

	&.greeting {
		background: var(--main-theme);
		background-repeat: no-repeat;
		background-size: cover;
		height: 100vh;
	}
}

#notification {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
}

.mainContent {
	max-width: var(--widthInner);
	margin-left: auto;
	margin-right: auto;

	display: grid;
	grid-template-columns:
		minmax(180px, 20%) // Навигация (20% ширины)
		40% // Карточки
		1fr; // Данные (оставшееся)
	gap: 30px;
	justify-content: center;
	padding: 20px;
	position: relative;

	&> :first-child {
		border-right: var(--vertical-line) 2px solid;
	}

	&:has(> :nth-child(3))> :nth-child(3) {
		padding-left: 30px;
		border-left: var(--vertical-line) 2px solid;
	}

	&__central {
		padding: 10px;
		width: 520px;
		height: fit-content;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
}

@media (max-width: 745px) {
	.mainContent {
		grid-template-columns: 1fr;
		padding-left: 20px;
		padding-right: 20px;
		gap: 0;

		&.navMenu__inner {
			display: none;
			opacity: 0;
			transition: opacity 0.3s ease;

		}

		&> :nth-child(2) {
			// max-width: 100%;
		}

		&> :nth-child(3) {
			display: none;
		}

		&__central {
			margin-left: auto;
			margin-right: auto;
			width: fit-content;
		}
	}

	// .mainContent:has(> :nth-child(2))::after {
	// 	content: url('./media/mobileArrow.svg');
	// 	position: absolute;
	// 	top: -30px;
	// 	right: 20px;
	// }
}

body {
	overflow-y: scroll;
	scrollbar-gutter: stable;
}


@media (max-width: 374px) {
	body {
		position: relative;

		&::before {
			content: "";
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0);
			z-index: 9998;
		}

		&::after {
			content: "Сайт не поддерживает экраны меньше 375px! Используйте устройство с большим разрешением";
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: #ff3b30;
			color: white;
			padding: 20px;
			text-align: center;
			z-index: 9999;
			max-width: 80%;
			border-radius: 8px;
			white-space: normal;
			word-wrap: break-word;
			font-size: 16px;
			line-height: 1.5;
		}
	}

	*:not(body):not(body::before):not(body::after) {
		display: none;
	}
}

iframe {
	position: absolute;
	right: 35px;
	bottom: 35px;
	width: 270px;
	height: 325px;
}
