<div class="plan_shop">
	<div class="plan_shop__inner">
		<p class="plan_shop__inner_header">Открой для себя большее</p>
		<p class="plan_shop__inner_list">- Бесконечные лайки</p>
		<p class="plan_shop__inner_list">- Возврат лайка</p>
		<p class="plan_shop__inner_list">- Супер-лайк</p>
	</div>
	<img class="plan_shop__back" src="media/other/banner_shop.svg" alt="фон">
</div>
