<div class="searchInput">
	<div class="searchInput__buttonContainer">
		<button class="searchInput__button" type="button">
			<img src="/media/search/search.svg" alt="Search" />
		</button>
	</div>
	<div class="searchInput__inputContainer">
		<input class="searchInput__input" type="text" placeholder="Поиск" />
		<button class="searchInput__clearButton" type="button">
			<img src="/media/search/clear.svg" alt="Clear" />
		</button>
	</div>
	<div class="searchInput__filterContainer">
		<input class="searchInput__filterCheckbox" type="checkbox" id="filterToggle" />
		<label for="filterToggle" class="searchInput__filterButton">
			<img src="/media/search/filter.svg" alt="Filter" />
		</label>
		<div class="searchInput__filter">
			<div class="searchInput__genderSelection">
				<p>Пол</p>
				<div class="gender-options">
					<label class="gender-option">
						<input type="radio" name="gender" value="Male" />
						<span>Мужчины</span>
					</label>
					<label class="gender-option">
						<input type="radio" name="gender" value="Any" checked />
						<span>Не важно</span>
					</label>
					<label class="gender-option">
						<input type="radio" name="gender" value="Female" />
						<span>Женщины</span>
					</label>
				</div>
			</div>
			<div class="range-slider age-slider">
				<p>Возраст
					<span>
						<span id="ageMinValue">18</span> - <span id="ageMaxValue">125</span> лет
					</span>
				</p>
				<div class="slider-container">
					<div class="slider-track">
						<div class="slider-track-fill"></div>
					</div>
					<input type="range" class="slider" id="ageMin" min="18" max="125" value="18" step="1">
					<input type="range" class="slider" id="ageMax" min="18" max="125" value="125" step="1">
				</div>
			</div>
			<div class="range-slider height-slider">
				<p>Рост
					<span>
						<span id="heightMinValue">100</span> - <span id="heightMaxValue">250</span> см
					</span>
				<div class="slider-container">
					<div class="slider-track">
						<div class="slider-track-fill"></div>
					</div>
					<input type="range" class="slider" id="heightMin" min="100" max="250" value="100" step="1">
					<input type="range" class="slider" id="heightMax" min="100" max="250" value="250" step="1">
				</div>
			</div>
			<div class="searchInput__location">
				<div class="location-field">
					<label for="country">Страна</label>
					<input type="text" id="country" placeholder="Введите страну">
				</div>
				<div class="location-field">
					<label for="city">Город</label>
					<input type="text" id="city" placeholder="Введите город">
				</div>
			</div>
		</div>
	</div>
</div>
