<div class="banner-shop">
	<div class="banner-shop__border"></div>
	<div class="banner-shop__inner">
		<div class="banner-shop__duration">
			<p>{{duration}}</p>
		</div>
		<div class="banner-shop__old-sale">
			<p>{{oldSale}}₽</p>
		</div>
		<div class="banner-shop__new-sale">
			<p>{{newSale}}₽<sub>/мес</sub></p>
		</div>
		<div class="banner-shop__discount">
			<p>-{{discount}}%</p>
		</div>
	</div>
	<div class="banner-shop__button">
		<button>
			<p>Приобрести</p>
		</button>
	</div>
</div>
