.interest{
    font-weight: 500;
    font-size: 12px;
    text-align: center;
    color: grey;

    border: 1px solid grey;
    border-radius: 25px;
    padding: 5px 9px;

    display: inline-block;
    width: fit-content;
    height: fit-content;
}